/* styles.css */

/* Add styles here to customize the appearance of your app */
@charset "UTF-8";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

div.main-container {
    display: block;
    position: relative;
    min-height: 95vh;
    background-color: white;
    overflow: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

div.status, div.buttons {
    color: grey;
    margin-top: 2px;
    font-size: .8em;
    text-align: center;
}

div.settings, div.help {
    padding: 10px;
    display: none;
    color: grey;
    border: 1px solid grey;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    min-width: 500px;
    max-width: 800px;
    font-size: .8em;
}

header {
    margin: 0 auto;
}

footer {
    margin: 0 auto;
    color: grey;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px
}

span {
    padding-left: 5px;
    padding-right: 5px;
}

label {
    color: grey;
    display: inline-block;
    text-align: right;
}

label.wid2 {
    width: 85px;
}

label.wid1 {
    width: 20px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.canvas {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
    color: darkslategrey;
}

h3 {
    font-weight: bold;
    color: darkslategrey;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: crosshair;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
    color: darkslategrey;
    background-color: lightgrey;
}

button:hover {
    background-color: darkgrey;
}

button#btnApply {
    width: 80px;
}

img.icon {
    padding-right: 5px;
}

img.icon_small {
    width: 10px;
    height: 10px;
}

img.button {
    padding: 5px;
}

img.button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

td.instruct {
    padding-top: 5px;
    padding-bottom: 5px;
}

.font-7 {
    font-size: .7em;
}

.font-8 {
    font-size: .8em;
}

span.settingsbtn {
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}